<div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar" id="navbar"
        (window:scroll)="windowScroll()">
        <div class="container-fluid custom-container">
            <a class="navbar-brand" href="">
                <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="70" />
                <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light"
                    height="70" />
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click)="collapse.toggle()">
                <i class="mdi mdi-menu"></i>
            </button>

            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse"
                id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link active" href="" [ngClass]="{ active: currentSection === 'hero' }"
                            [ngxScrollTo]="'#hero'">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [ngClass]="{ active: currentSection === 'services' }"
                            [ngxScrollTo]="'#services'">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [ngClass]="{ active: currentSection === 'features' }"
                            [ngxScrollTo]="'#features'">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="academia" [ngClass]="{ active: currentSection === 'academy' }"
                            [ngxScrollTo]="'#academy'">Academia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                            [ngxScrollTo]="'#inscripcion'">Inscríbete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="certificados"
                            [ngClass]="{ active: currentSection === 'certificados' }"
                            [ngxScrollTo]="'#certificados'">Certificados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [ngClass]="{ active: currentSection === 'contact' }"
                            [ngxScrollTo]="'#contact'">Contacto</a>
                    </li>
                </ul>
                <div class="">
                    <a href="/auth/signin/cover" target="_blank" class="btn btn-soft-primary"><i
                            class="ri-user-3-line align-bottom me-1"></i> Inisiar Sesión</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <section class="section" id="certificados">
        <div class="d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 p-5">
                <h2 class="mb-5 fw-semibold text-center">Consulta Certificado</h2>
                <form [formGroup]="frmCertificados">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Criterio de Busqueda:</label>
                            <ng-select [items]="lista" bindLabel="textoMostrar" bindValue="id"
                                formControlName="Criterio"> </ng-select>
                            <app-forms-messages [error]="frmCertificados.get('Criterio')"
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Valor:</label>
                            <input type="text" class="form-control" formControlName="Valor">
                            <app-forms-messages [error]="frmCertificados.get('Valor')"
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <br>
                            <button class="submitBnt btn btn-outline-primary mt-2 me-2"
                                (click)="buscar()">Buscar</button>
                            <button class="submitBnt btn btn-outline-primary mt-2" (click)="limpiarConsulta()">Limpiar
                                Consulta</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 px-5">
                <div class="table-responsive table-card">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table table-bordered table-hover table-striped w-100"></table>
                </div>
            </div>
        </div>
    </section>

    <!-- Start footer -->
    <footer class="custom-footer bg-light py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div>
                        <div>
                            <img src="assets/images/logo-dark.png" alt="logo dark" height="70" />
                        </div>
                        <div class="mt-4 fs-13">
                            <p>Nos especializamos en consultoría integral en gestión de riesgos laborales, derecho
                                laboral y
                                seguridad y salud en el trabajo. Nos comprometemos con la excelencia, la responsabilidad
                                con
                                el cliente y el trabajo en equipo.</p>
                            <ul class="list-inline mb-0 footer-social-link">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/profile.php?id=100064022221282" target="_blank"
                                        class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-instagram"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/hsw-risk-consultants-sas-011a091a8/"
                                        target="_blank" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://wa.me/573054455400" target="_blank" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 ms-lg-auto">
                    <div class="row">
                        <div class="col-sm-4 mt-4">
                            <h5 class="text-primary mb-0"><i class="fa-duotone fa-user-tie-hair"></i> Empresa</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li>
                                        <a href="">Nosotros</a>
                                    </li>
                                    <li>
                                        <a href="">Servicios</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-4">
                            <h5 class="text-primary mb-0"><i class="fa-duotone fa-screen-users"></i> Academia</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li><a href="academia">Cursos</a></li>
                                    <li><a href="academia">Talleres</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-4">
                            <h5 class="text-primary mb-0"><i class="fa-duotone fa-messages-question"></i> Apoyo</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li>
                                        <a href="">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end">
                    <div>
                        <img src="assets/images/certificacion-incontec.png" width="95px" class="p-2">
                        <p class="text-primary text-center" style="font-size: 7pt;">SC-CER326415</p>
                    </div>
                    <div>
                        <img src="assets/images/certificacion-incontec.png" width="95px" class="p-2">
                        <p class="text-primary text-center" style="font-size: 7pt;">SC-CER561398</p>
                    </div>
                    <div>
                        <img src="assets/images/certificacion-incontec.png" width="95px" class="p-2">
                        <p class="text-primary text-center" style="font-size: 7pt;">SC-CER867919</p>
                    </div>
                </div>
            </div>

            <div class="row text-center text-sm-start align-items-center mt-3">
                <div class="col-sm-6">
                    <div>
                        <p class="copy-rights mb-0">
                            {{year}} © SAFETY, HEALTH AND WORK RISK CONSULTANTS S.A.S.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end mt-3 mt-sm-0">
                        <ul class="list-inline mb-0 footer-list gap-4 fs-13">
                            <li class="list-inline-item">
                                <a href="/pages/privacy-policy">política de privacidad</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/pages/terms-condition">Términos y condiciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
</div>

<!--start back-to-top-->
<button (click)="topFunction()" class="btn btn-primary btn-icon landing-back-top" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>