<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
	<!-- Begin page -->
	<div class="layout-wrapper landing">
		<nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar" id="navbar"
			(window:scroll)="windowScroll()">
			<div class="container-fluid custom-container">
				<a class="navbar-brand" routerLink="">
					<img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark"
						height="90" />
					<img src="assets/images/logo-dark.png" class="card-logo card-logo-light" alt="logo light"
						height="90" />
				</a>
				<button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation" (click)="collapse.toggle()">
					<i class="mdi mdi-menu"></i>
				</button>

				<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse"
					id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
						<li class="nav-item">
							<a class="nav-link active" href="javascript:void(0);"
								[ngClass]="{ active: currentSection === 'hero' }" [ngxScrollTo]="'#hero'">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);"
								[ngClass]="{ active: currentSection === 'process' }"
								[ngxScrollTo]="'#process'">Nosotros</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);"
								[ngClass]="{ active: currentSection === 'services' }"
								[ngxScrollTo]="'#services'">Servicios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);"
								[ngClass]="{ active: currentSection === 'candidates' }"
								[ngxScrollTo]="'#candidates'">Academia</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);"
								[ngClass]="{ active: currentSection === 'contact' }"
								[ngxScrollTo]="'#contact'">Contacto</a>
						</li>
					</ul>
					<div class="">
						<a routerLink="/auth/signin/cover" class="btn btn-soft-primary"><i
								class="ri-user-3-line align-bottom me-1"></i> Inisiar Sesión</a>
					</div>
				</div>
			</div>
		</nav>
		<!-- end navbar -->

		<!-- start hero section -->
		<section class="section job-hero-section bg-light pb-0" id="hero">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<div>
							<h1 class="display-6 fw-semibold text-capitalize mb-3 lh-base">Protegiendo tu bienestar
								laboral</h1>
							<p class="lead text-muted lh-base mb-4">
								Nos dedicamos a proteger tu bienestar laboral con nuestros servicios especializados en
								Seguridad y Salud en el Trabajo (SST). Tu seguridad es nuestra prioridad número uno.
							</p>

							<ul class="treding-keywords list-inline mb-0 mt-3 fs-13">
								<li class="list-inline-item text-success fw-semibold">
									<i class="fa-duotone fa-heart"></i> Valores corporativos:
								</li>
								<li class="list-inline-item"><a href="javascript:void(0)">Respeto,</a></li>
								<li class="list-inline-item"><a href="javascript:void(0)">Honestidad,</a></li>
								<li class="list-inline-item"><a href="javascript:void(0)">Responsabilidad con el
										Cliente,</a></li>
								<li class="list-inline-item"><a href="javascript:void(0)">Servicio,</a></li>
								<li class="list-inline-item"><a href="javascript:void(0)">Trabajo en Equipo,</a></li>
								<li class="list-inline-item"><a href="javascript:void(0)">Calidad,</a></li>
								<li class="list-inline-item"><a href="javascript:void(0)">Experticia</a></li>
							</ul>
						</div>
					</div>
					<!--end col-->
					<div class="col-lg-4">
						<div class="position-relative home-img text-center mt-5 mt-lg-0">
							<div class="card p-3 rounded shadow-lg inquiry-box">
								<div class="d-flex align-items-center">
									<div class="avatar-sm flex-shrink-0 me-3">
										<div class="avatar-title bg-warning-subtle text-warning rounded fs-18">
											<i class="fa-duotone fa-user-helmet-safety"></i>
										</div>
									</div>
									<h5 class="fs-15 lh-base mb-0">Tu seguridad, nuestro compromiso.</h5>
								</div>
							</div>

							<div class="card p-3 rounded shadow-lg application-box">
								<h5 class="fs-15 lh-base mb-3">Aplicaciones</h5>
								<div class="avatar-group">
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
										data-bs-trigger="hover" data-bs-placement="top" ngbTooltip="Brent Gonzalez">
										<div class="avatar-xs">
											<img src="assets/images/users/avatar-3.jpg" alt=""
												class="rounded-circle img-fluid" />
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
										data-bs-trigger="hover" data-bs-placement="top" ngbTooltip="Ellen Smith">
										<div class="avatar-xs">
											<div class="avatar-title rounded-circle bg-danger">S</div>
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
										data-bs-trigger="hover" data-bs-placement="top" ngbTooltip="Ellen Smith">
										<div class="avatar-xs">
											<img src="assets/images/users/avatar-10.jpg" alt=""
												class="rounded-circle img-fluid" />
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
										data-bs-trigger="hover" data-bs-placement="top">
										<div class="avatar-xs">
											<div class="avatar-title rounded-circle bg-success">Z</div>
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
										data-bs-trigger="hover" data-bs-placement="top" title="Brent Gonzalez">
										<div class="avatar-xs">
											<img src="assets/images/users/avatar-9.jpg" alt=""
												class="rounded-circle img-fluid" />
										</div>
									</a>
									<a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
										data-bs-trigger="hover" data-bs-placement="top" title="More Appliances">
										<div class="avatar-xs">
											<div
												class="avatar-title fs-13 rounded-circle bg-light border-dashed border text-primary">
												2k+</div>
										</div>
									</a>
								</div>
							</div>
							<img src="assets/images/job-profile2.png" alt="" class="user-img" />

							<div class="circle-effect">
								<div class="circle"></div>
								<div class="circle2"></div>
								<div class="circle3"></div>
								<div class="circle4"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</section>
		<!-- end hero section -->

		<!--Components-->
		<app-services></app-services>
		<!-- <app-collection></app-collection> -->
		<!-- <app-client-logo></app-client-logo> -->
		<app-contact></app-contact>
		<app-blog></app-blog>
		<app-job-footer></app-job-footer>

		<!--start back-to-top-->
		<button (click)="topFunction()" class="btn btn-info btn-icon landing-back-top" id="back-to-top">
			<i class="ri-arrow-up-line"></i>
		</button>
		<!--end back-to-top-->
	</div>
	<!-- end layout wrapper -->
</div>