<div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar" id="navbar"
        (window:scroll)="windowScroll()">
        <div class="container-fluid custom-container">
            <a class="navbar-brand" href="">
                <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="70" />
                <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light"
                    height="70" />
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click)="collapse.toggle()">
                <i class="mdi mdi-menu"></i>
            </button>

            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse"
                id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link active" href="" [ngClass]="{ active: currentSection === 'hero' }"
                            [ngxScrollTo]="'#hero'">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [ngClass]="{ active: currentSection === 'services' }"
                            [ngxScrollTo]="'#services'">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [ngClass]="{ active: currentSection === 'features' }"
                            [ngxScrollTo]="'#features'">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="academia" [ngClass]="{ active: currentSection === 'academy' }"
                            [ngxScrollTo]="'#academy'">Academia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                            [ngxScrollTo]="'#inscripcion'">Inscríbete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="certificados"
                            [ngClass]="{ active: currentSection === 'certificados' }"
                            [ngxScrollTo]="'#certificados'">Certificados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" [ngClass]="{ active: currentSection === 'contact' }"
                            [ngxScrollTo]="'#contact'">Contacto</a>
                    </li>
                </ul>
                <div class="">
                    <a href="/auth/signin/cover" target="_blank" class="btn btn-soft-primary"><i
                            class="ri-user-3-line align-bottom me-1"></i> Inisiar Sesión</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <section class="section" id="inscripcion">
        <div class="d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 p-5">
                <h2 class="mb-5 fw-semibold text-center">Formulario de Inscripción</h2>
                <form [formGroup]="frmInscripcion">
                    <p class="text-muted">Generales</p>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Tipo Documento *</label>
                            <ng-select [items]="ListTipoIdentificacion" bindLabel="textoMostrar" bindValue="id"
                                formControlName="TipoDocumento"> </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('TipoDocumento')"
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Número Identificación *</label>
                            <input type="text" class="form-control" formControlName="Documento">
                            <app-forms-messages [error]="frmInscripcion.get('Documento')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Primer Nombre *</label>
                            <input type="text" class="form-control" formControlName="PrimerNombre">
                            <app-forms-messages [error]="frmInscripcion.get('PrimerNombre')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Segundo Nombre</label>
                            <input type="text" class="form-control" formControlName="SegundoNombre">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Primer Apellido *</label>
                            <input type="text" class="form-control" formControlName="PrimerApellido">
                            <app-forms-messages [error]="frmInscripcion.get('PrimerApellido')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Segundo Apellido</label>
                            <input type="text" class="form-control" formControlName="SegundoApellido">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Género *</label>
                            <ng-select [items]="listGeneros" bindLabel="textoMostrar" bindValue="id"
                                formControlName="Genero"></ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('Genero')"
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Rh *</label>
                            <ng-select [items]="listaRh" bindLabel="nombre" bindValue="nombre" formControlName="Rh">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('Rh')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Correo *</label>
                            <input type="email" class="form-control" formControlName="Email">
                            <app-forms-messages [error]="frmInscripcion.get('Email')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Teléfono *</label>
                            <input type="number" class="form-control" formControlName="Telefono">
                            <app-forms-messages [error]="frmInscripcion.get('Telefono')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Dirección *</label>
                            <input type="text" class="form-control" formControlName="Direccion">
                            <app-forms-messages [error]="frmInscripcion.get('Direccion')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Ciudad *</label>
                            <ng-select [items]="listCiudades()" bindLabel="textoMostrar" bindValue="id"
                                formControlName="CiudadId">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('CiudadId')" [statusForm]=statusForm
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Nivel Educativo *</label>
                            <ng-select [items]="listaNivelEducativo" bindLabel="nombre" bindValue="nombre"
                                formControlName="NivelEducativo">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('NivelEducativo')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Lecto Escritura *</label>
                            <ng-select [items]="listaLectoEscritura" bindLabel="nombre" bindValue="nombre"
                                formControlName="LectoEscritura">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('LectoEscritura')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Arl *</label>
                            <ng-select [items]="listArl()" bindLabel="textoMostrar" bindValue="id"
                                formControlName="ArlId">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('ArlId')"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Cargo Actual *</label>
                            <input type="text" class="form-control" formControlName="CargoActual" />
                            <app-forms-messages [error]="frmInscripcion.get('CargoActual')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Area de Trabajo *</label>
                            <input type="text" class="form-control" formControlName="AreaTrabajo" />
                            <app-forms-messages [error]="frmInscripcion.get('AreaTrabajo')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Nombre Acudiente *</label>
                            <input type="text" class="form-control" formControlName="Acudiente" />
                            <app-forms-messages [error]="frmInscripcion.get('Acudiente')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label>Teléfono Acudiente *</label>
                            <input type="number" class="form-control" formControlName="TelefonoAcudiente" />
                            <app-forms-messages [error]="frmInscripcion.get('TelefonoAcudiente')"
                                [statusForm]="statusForm" [statusForm]="statusForm"></app-forms-messages>
                        </div>
                    </div>
                    <br>
                    <p class="text-muted">Salud</p>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Enfermedades *</label>
                            <textarea formControlName="Enfermedades" class="form-control" rows="4"></textarea>
                            <app-forms-messages [error]="frmInscripcion.get('Enfermedades')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Alergias *</label>
                            <textarea formControlName="Alergias" class="form-control" rows="4"></textarea>
                            <app-forms-messages [error]="frmInscripcion.get('Alergias')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Medicamentos *</label>
                            <textarea formControlName="Medicamentos" class="form-control" rows="4"></textarea>
                            <app-forms-messages [error]="frmInscripcion.get('Medicamentos')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>Lesiones *</label>
                            <textarea formControlName="Lesiones" class="form-control" rows="4"></textarea>
                            <app-forms-messages [error]="frmInscripcion.get('Lesiones')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                    </div>
                    <br>
                    <div class="row d-none">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label>Tipo de Cliente</label>
                            <ng-select [items]="listaTipoCliente" bindLabel="nombre" bindValue="nombre"
                                formControlName="TipoCliente" [readonly]="true">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('TipoCliente')" [statusForm]="statusForm"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label>Empresa</label>
                            <ng-select [items]="listEmpresas()" bindLabel="textoMostrar" bindValue="id"
                                formControlName="EmpresaId" [readonly]="true">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('EmpresaId')"
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                    </div>
                    <br>
                    <p class="text-muted">Curso</p>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <label>Nombre *</label>
                            <ng-select [items]="listCursos()" bindLabel="textoMostrar" bindValue="id"
                                formControlName="CursoId" (change)="onChangeCurso($event)">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('CursoId')"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5" *ngIf="curso">
                            <label>Detalle del Curso *</label>
                            <ng-select [items]="listCursosDetalles()" bindLabel="textoMostrar" bindValue="id"
                                formControlName="CursoDetalleId" (change)="onChangeCursoDetalle($event)">
                            </ng-select>
                            <app-forms-messages [error]="frmInscripcion.get('CursoDetalleId')"
                                [statusForm]="statusForm"></app-forms-messages>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="cursoDetalle">
                            <label>Precio</label>
                            <input type="text" class="form-control bg-white border-0" value="$ {{ precio }}" readonly>
                        </div>
                    </div>
                    <br>
                    <p class="text-muted">Documentos</p>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label>Documento de Identidad *</label>&nbsp;<span class="badge bg-danger">.Pdf</span>
                            <input type="file" class="form-control mt-2" accept=".pdf"
                                formControlName="DocumentoIdentidad" (change)="onChangeDocumento($event)">
                            <app-forms-messages [error]="frmInscripcion.get('DocumentoIdentidad')"
                                [statusForm]=statusForm></app-forms-messages>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label>Soporte de pago *</label>&nbsp;<span class="badge bg-info">.jpg</span>
                            <input type="file" class="form-control my-2" accept=".jpg" formControlName="Pago"
                                (change)="onChangeSoporte($event)">
                            <app-forms-messages [error]="frmInscripcion.get('Pago')"
                                [statusForm]=statusForm></app-forms-messages>
                            <a class="text-success text-decoration-underline" href="javascript: void(0);"
                                (click)="CertificadoBancario()">Ver datos bancarios</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <button class="submitBnt btn btn-primary" (click)="save()">Inscribirse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Start footer -->
    <footer class="custom-footer bg-light py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div>
                        <div>
                            <img src="assets/images/logo-dark.png" alt="logo dark" height="70" />
                        </div>
                        <div class="mt-4 fs-13">
                            <p align="justify">Nos especializamos en la consultoría integral en gestión de riesgos laborales; derecho
                                laboral y de la seguridad social, salud y seguridad en el trabajo. Alto compromiso con
                                la
                                excelencia en el servicio, la responsabilidad con el cliente y el trabajo en equipo.</p>
                            <ul class="list-inline mb-0 footer-social-link">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/profile.php?id=100064022221282" target="_blank"
                                        class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/abcrisktraining/" target="_blank"
                                        class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-instagram"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/hsw-risk-consultants-sas-011a091a8/"
                                        target="_blank" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://wa.me/573054455400" target="_blank" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 ms-lg-auto">
                    <div class="row">
                        <div class="col-sm-3 mt-4">
                            <h5 class="text-primary mb-0"><i class="fa-duotone fa-user-tie-hair"></i> Empresa</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li>
                                        <a href="javascript:void(0);"
                                            [ngClass]="{ active: currentSection === 'features' }"
                                            [ngxScrollTo]="'#features'">Nosotros</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"
                                            [ngClass]="{ active: currentSection === 'services' }"
                                            [ngxScrollTo]="'#services'">Servicios</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 mt-4">
                            <h5 class="text-primary mb-0"><i class="fa-duotone fa-screen-users"></i> Academia</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li><a href="academia">Cursos</a></li>
                                    <li><a href="academia">Talleres</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 mt-4">
                            <h5 class="text-primary mb-0"><i class="fa-duotone fa-messages-question"></i> Apoyo</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li>
                                        <a href="javascript:void(0);"
                                            [ngClass]="{ active: currentSection === 'contact' }"
                                            [ngxScrollTo]="'#contact'">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 mt-4 text-center">
                            <h5 class="text-primary"><i class="fa-duotone fa-file-certificate"></i> Certificación</h5>
                            <img src="assets/images/certificacion-incontec.png" width="95px" class="p-2">
                            <p class="text-primary text-center" style="font-size: 7pt;">CS-CER1036549</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center text-sm-start align-items-center mt-3">
                <div class="col-sm-6">
                    <div>
                        <p class="copy-rights mb-0">
                            {{year}} © SAFETY, HEALTH AND WORK RISK CONSULTANTS S.A.S.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end mt-3 mt-sm-0">
                        <ul class="list-inline mb-0 footer-list gap-4 fs-13">
                            <li class="list-inline-item">
                                <a href="/pages/privacy-policy">Política de privacidad</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/pages/terms-condition">Términos y condiciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
</div>

<!--start back-to-top-->
<button (click)="topFunction()" class="btn btn-primary btn-icon landing-back-top" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>