<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="card card-height-100">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">{{ title }}</h4>
        <div class="flex-shrink-0">
            <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
        </div>
    </div>
    <div class="card-body" style="padding: 40px;">
        <form [formGroup]="frmPerfil" class="mb-4">
            <p class="text-muted">Generales</p>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Tipo Documento</label>
                    <ng-select [items]="ListTipoIdentificacion" bindLabel="textoMostrar" bindValue="id"
                        formControlName="TipoDocumento"> </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('TipoDocumento')"
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Numero Identificación</label>
                    <input type="text" class="form-control" formControlName="Documento">
                    <app-forms-messages [error]="frmPerfil.get('Documento')" [statusForm]=statusForm
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Primer Nombre</label>
                    <input type="text" class="form-control" formControlName="PrimerNombre">
                    <app-forms-messages [error]="frmPerfil.get('PrimerNombre')" [statusForm]=statusForm
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Segundo Nombre</label>
                    <input type="text" class="form-control" formControlName="SegundoNombre">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Primer Apellido</label>
                    <input type="text" class="form-control" formControlName="PrimerApellido">
                    <app-forms-messages [error]="frmPerfil.get('PrimerApellido')" [statusForm]=statusForm
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Segundo Apellido</label>
                    <input type="text" class="form-control" formControlName="SegundoApellido">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Genero</label>
                    <ng-select [items]="listGeneros" bindLabel="textoMostrar" bindValue="id"
                        formControlName="Genero"></ng-select>
                    <app-forms-messages [error]="frmPerfil.get('Genero')" [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Correo</label>
                    <input type="email" class="form-control" formControlName="Email">
                    <app-forms-messages [error]="frmPerfil.get('Email')" [statusForm]=statusForm
                        [statusForm]=statusForm></app-forms-messages>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Telefono</label>
                    <input type="number" class="form-control" formControlName="Telefono">
                    <app-forms-messages [error]="frmPerfil.get('Telefono')" [statusForm]=statusForm
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Ciudad</label>
                    <ng-select [items]="lista" bindLabel="nombre" bindValue="id" formControlName="CiudadId">
                    </ng-select>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Direccion</label>
                    <input type="text" class="form-control" formControlName="Direccion">
                    <app-forms-messages [error]="frmPerfil.get('Direccion')" [statusForm]=statusForm
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Activo</label><br>
                    <ui-switch formControlName="Activo"></ui-switch>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="id">
                    <label>Codigo</label>
                    <input type="text" class="form-control bg-white" formControlName="Codigo" readonly />
                    <app-forms-messages [error]="frmPerfil.get('Codigo')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Rh</label>
                    <ng-select [items]="listaRh" bindLabel="nombre" bindValue="nombre" formControlName="Rh">
                    </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('Rh')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <p class="text-muted">
                Educativo
            </p>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Nivel Educativo</label>
                    <ng-select [items]="listaNivelEducativo" bindLabel="nombre" bindValue="nombre"
                        formControlName="NivelEducativo">
                    </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('NivelEducativo')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Lecto Escritura</label>
                    <ng-select [items]="listaLectoEscritura" bindLabel="nombre" bindValue="nombre"
                        formControlName="LectoEscritura">
                    </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('LectoEscritura')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <p class="text-muted">
                Empresa
            </p>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Tipo de Cliente</label>
                    <ng-select [items]="listaTipoCliente" bindLabel="nombre" bindValue="nombre"
                        formControlName="TipoCliente">
                    </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('TipoCliente')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Empresa</label>
                    <ng-select [items]="listEmpresas()" bindLabel="textoMostrar" bindValue="id"
                        formControlName="EmpresaId">
                    </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('EmpresaId')"
                        [statusForm]=statusForm></app-forms-messages>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="btn mt-4" (click)="nuevaEmpresa()">
                        <i class="fa-duotone fa-briefcase"
                            style="--fa-primary-color: #adb5bd; --fa-secondary-color: #adb5bd;"></i>
                    </button>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Arl</label>
                    <ng-select [items]="listArl()" bindLabel="textoMostrar" bindValue="id" formControlName="ArlId">
                    </ng-select>
                    <app-forms-messages [error]="frmPerfil.get('ArlId')" [statusForm]="statusForm"></app-forms-messages>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="btn mt-4" (click)="nuevaArl()">
                        <i class="fa-duotone fa-user-helmet-safety" style="
                      --fa-primary-color: #adb5bd;
                      --fa-secondary-color: #adb5bd;
                    "></i>
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Cargo Actual</label>
                    <input type="text" class="form-control" formControlName="CargoActual" />
                    <app-forms-messages [error]="frmPerfil.get('CargoActual')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Area de Trabajo</label>
                    <input type="text" class="form-control" formControlName="AreaTrabajo" />
                    <app-forms-messages [error]="frmPerfil.get('AreaTrabajo')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <p class="text-muted">
                Acudiente
            </p>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="Acudiente" />
                    <app-forms-messages [error]="frmPerfil.get('Acudiente')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label>Teléfono</label>
                    <input type="number" class="form-control" formControlName="TelefonoAcudiente" />
                    <app-forms-messages [error]="frmPerfil.get('TelefonoAcudiente')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <p class="text-muted">Salud</p>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Enfermedades</label>
                    <textarea formControlName="Enfermedades" class="form-control" rows="4"></textarea>
                    <app-forms-messages [error]="frmPerfil.get('Enfermedades')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Alergias</label>
                    <textarea formControlName="Alergias" class="form-control" rows="4"></textarea>
                    <app-forms-messages [error]="frmPerfil.get('Alergias')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Medicamentos</label>
                    <textarea formControlName="Medicamentos" class="form-control" rows="4"></textarea>
                    <app-forms-messages [error]="frmPerfil.get('Medicamentos')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Lesiones</label>
                    <textarea formControlName="Lesiones" class="form-control" rows="4"></textarea>
                    <app-forms-messages [error]="frmPerfil.get('Lesiones')" [statusForm]="statusForm"
                        [statusForm]="statusForm"></app-forms-messages>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer" style="padding: 40px;" *ngIf="id">
        <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>Documentos
                    <span data-bs-toggle="tooltip" data-bs-placement="left"
                        title="En este formulario se muestran los documentos del cliente">
                        <i class="fa-solid fa-circle-question"></i>
                    </span>
                </a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <app-perfil-archivos [PersonaId]='id'></app-perfil-archivos>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>