<section>
    <div>
        <form [formGroup]="frmConvenios" class="border shadow-lg">
            <div class="modal-header bg-primary">
                <h6 class="text-white">{{ titulo }}</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Fecha Inicio</label>
                        <input type="date" class="form-control" formControlName="FechaInicio">
                        <app-forms-messages [error]="frmConvenios.get('FechaInicio')" [statusForm]=statusForm
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Fecha Fin</label>
                        <input type="date" class="form-control" formControlName="FechaFin">
                        <app-forms-messages [error]="frmConvenios.get('FechaFin')" [statusForm]=statusForm
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Código</label>
                        <input type="text" class="form-control" formControlName="Codigo">
                        <app-forms-messages [error]="frmConvenios.get('Codigo')" [statusForm]=statusForm
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="Nombre">
                        <app-forms-messages [error]="frmConvenios.get('Nombre')" [statusForm]=statusForm
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <label>Valor</label>&nbsp;<span class="badge bg-info">%</span>
                        <input type="number" max="100" class="form-control" formControlName="Valor">
                        <app-forms-messages [error]="frmConvenios.get('Valor')" [statusForm]=statusForm
                            [statusForm]=statusForm></app-forms-messages>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <label>Activo</label><br>
                        <ui-switch formControlName="Activo"></ui-switch>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row float-right">
                    <div class="col-md-12">
                        <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>