<form [formGroup]="frmArchivosClientes" class="my-3">
    <p class="text-muted">Los documentos deben estar llamados de la siguiente forma con su número de documento:<br>
        &nbsp;&nbsp;&nbsp; - Documento de identidad: CC_1000000000.<br>
        &nbsp;&nbsp;&nbsp; - Eps: EPS_1000000000.<br>
        Reemplaza el (1000000000) por tu número de documento.
    </p>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Documento de Identidad</label>&nbsp;<span class="badge bg-danger">.Pdf</span>
            <input type="file" class="form-control mt-2" accept=".pdf" formControlName="DocumentoIdentidad"
                (change)="onChangeDocumento($event)">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Eps</label>&nbsp;<span class="badge bg-danger">.Pdf</span>
            <input type="file" class="form-control mt-2" accept=".pdf" formControlName="Eps"
                (change)="onChangeEps($event)">
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-end">
        <div>
            <app-botones [botones]="botones" (eventSave)="save()"></app-botones>
        </div>
    </div>
    <br>
    <br>
    <div class="dt-responsive">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="datatable" class="table table-bordered table-hover table-striped w-100">
                    <thead>
                        <tr>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of listClientesArchivos(); index as i">
                            <td>{{ item.nombre }}</td>
                            <td>
                                <button class="btn btn-sm text-secondary" type="button"
                                    (click)="download(item.content, item.nombre, item.extension)"><i
                                        class="fa-duotone fa-file-arrow-down"></i> Descargar</button>
                                <button class="btn btn-sm text-secondary" type="button"
                                    (click)="openInNewTab(item.content, item.extension)"><i
                                        class="fa-duotone fa-eye"></i>
                                    Ver</button>
                                <button class="btn btn-sm text-secondary" type="button"
                                    (click)="deleteGeneric(item.id)"><i class="fa-duotone fa-trash-can"></i>
                                    Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>