 <!-- start contact -->
 <section class="section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h3 class="mb-3 fw-semibold">Contáctanos</h3>
                    <p class="text-muted mb-4 ff-secondary">¡Estamos aquí para ayudarte! Si tienes preguntas, comentarios o deseas más información, no dudes en ponerte en contacto con nosotros. ¡Esperamos poder escucharte pronto!</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row gy-4">
            <div class="col-lg-4">
                <div>
                    <div class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Dirección:</h5>
                        <div class="ff-secondary fw-semibold">Cra. 7b Bis #70-92, Alfonso Lopez <br> Cali, Valle del Cauca</div>
                    </div>
                    <div class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Horas Laborales:</h5>
                        <div class="ff-secondary fw-semibold">8:00 am a 6:00 pm</div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-8">
                <div>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="name" class="form-label fs-13">Nombre</label>
                                    <input name="name" id="name" type="text"
                                        class="form-control bg-light border-light" placeholder="Tú Nombre*">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="email" class="form-label fs-13">Correo electrónico</label>
                                    <input name="email" id="email" type="email"
                                        class="form-control bg-light border-light" placeholder="Tú Correo electrónico*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="subject" class="form-label fs-13">Asunto</label>
                                    <input type="text" class="form-control bg-light border-light" id="subject"
                                        name="subject" placeholder="Tú Asunto.." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="comments" class="form-label fs-13">Mensaje</label>
                                    <textarea name="comments" id="comments" rows="3"
                                        class="form-control bg-light border-light"
                                        placeholder="Tú Mensaje..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-end">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary"
                                    value="Enviar Mensaje">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end contact -->