<!-- start contact -->
<section class="section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h3 class="mb-3 fw-semibold">Contáctanos</h3>
                    <p class="text-muted mb-4 ff-secondary">¡Estamos aquí para ayudarte! Si tienes preguntas,
                        comentarios o deseas más información, no dudes en ponerte en contacto con nosotros. ¡Esperamos
                        poder escucharte pronto!</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row gy-4">
            <div class="col-lg-12">
                <div>
                    <form [formGroup]="frmContact">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="name" class="form-label fs-13">Nombre</label>
                                    <input type="text" class="form-control bg-light border-light" formControlName="Name"
                                        placeholder="Tú Nombre*">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="email" class="form-label fs-13">Correo electrónico</label>
                                    <input type="email" formControlName="Email"
                                        class="form-control bg-light border-light" placeholder="Tú Correo electrónico*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="subject" class="form-label fs-13">Asunto</label>
                                    <input type="text" class="form-control bg-light border-light"
                                        formControlName="Subjet" placeholder="Tú Asunto.." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="comments" class="form-label fs-13">Mensaje</label>
                                    <textarea formControlName="Message" rows="3"
                                        class="form-control bg-light border-light"
                                        placeholder="Tú Mensaje..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-end">
                                <button class="submitBnt btn btn-primary" (click)="SendEmail()">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row gy-4">
            <div class="col-lg-5">
                <div>
                    <div class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Oficina Principal:</h5>
                        <a target="_blank" class="ff-secondary fw-semibold"
                            href="https://www.google.com/maps/place/SAFETY,+HEALTH+AND+WORK+RISK+CONSULTANTS+SAS/@3.4640672,-76.482775,20z/data=!4m14!1m7!3m6!1s0x8e30a7c0f365f201:0x910c33996595edbc!2sSAFETY,+HEALTH+AND+WORK+RISK+CONSULTANTS+SAS!8m2!3d3.4639812!4d-76.4825766!16s%2Fg%2F11spzpz2x9!3m5!1s0x8e30a7c0f365f201:0x910c33996595edbc!8m2!3d3.4639812!4d-76.4825766!16s%2Fg%2F11spzpz2x9?hl=es-419&entry=ttu">Cra.
                            7b Bis #70-92, Alfonso Lopez <br> Cali, Valle del Cauca</a>
                    </div>
                    <div class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Celular:</h5>
                        <a class="ff-secondary fw-semibold" target="_blank" href="tel:573218884788">+57 3218884788
                        </a>&nbsp; - &nbsp;
                        <a class="ff-secondary fw-semibold" target="_blank" href="tel:573054455400"> +57 3054455400 </a>
                    </div>
                    <div class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Teléfono:</h5>
                        <a class="ff-secondary fw-semibold" target="_blank" href="tel:6024407461">6024407461</a>
                    </div>
                    <div class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Correo Electrónico:</h5>
                        <a target="_blank" href="mailto:hswrisk@gmail.com"
                            class="ff-secondary fw-semibold">hswrisk&#64;gmail.com</a><br>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-7">
                <div class="mt-4">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.90806614315292!2d-76.48278373381959!3d3.463929099675355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a7c0f365f201%3A0x910c33996595edbc!2sSAFETY%2C%20HEALTH%20AND%20WORK%20RISK%20CONSULTANTS%20SAS!5e0!3m2!1ses-419!2sco!4v1707841262806!5m2!1ses-419!2sco"
                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="mt-4">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.92597179830943!2d-76.55231279849491!3d3.3951548897826176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a34158de9eb3%3A0xabed589a14f58a05!2sCentro%20de%20entrenamiento%20de%20Trabajo%20en%20Alturas%20HMMP!5e0!3m2!1ses-419!2sco!4v1707842203570!5m2!1ses-419!2sco"
                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-5">
                <div>
                    <div align="right" class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Centro de Formación y Entrenamiento:
                        </h5>
                        <a target="_blank" class="ff-secondary fw-semibold"
                            href="https://www.google.com/maps?ll=3.395152,-76.552178&z=20&t=m&hl=es-419&gl=CO&mapclient=embed&cid=12388655568765946373">Carrera
                            68 # 2bis -35 Refugio <br> Cali, Valle del Cauca</a>
                    </div>
                    <div align="right" class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Celular:</h5>
                        <!-- <a class="ff-secondary fw-semibold" target="_blank" href="tel:573218884788">+57 3218884788
                        </a>&nbsp; - &nbsp; -->
                        <!-- <a class="ff-secondary fw-semibold" target="_blank" href="tel:573054455400"> +57 3054455400 </a> -->
                    </div>
                    <div align="right" class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Teléfono:</h5>
                        <!-- <a class="ff-secondary fw-semibold" target="_blank" href="tel:6024407461">6024407461</a> -->
                    </div>
                    <div align="right" class="mt-4">
                        <h5 class="fs-13 text-muted text-uppercase">Correo Electrónico:</h5>
                        <a target="_blank" href="mailto:abcrisktraining@gmail.com"
                            class="ff-secondary fw-semibold">abcrisktraining&#64;gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end contact -->