<div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar" id="navbar"
        (window:scroll)="windowScroll()">
        <div class="container-fluid custom-container">
            <a class="navbar-brand" routerLink="">
                <img src="assets/images/logo-abc-dark.png" class="card-logo card-logo-dark" alt="logo dark"
                    height="70" />
                <img src="assets/images/logo-abc-light.png" class="card-logo card-logo-light" alt="logo light"
                    height="70" />
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click)="collapse.toggle()">
                <i class="mdi mdi-menu"></i>
            </button>

            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse"
                id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="" [ngClass]="{ active: currentSection === 'hero' }"
                            [ngxScrollTo]="'#hero'">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" [ngClass]="{ active: currentSection === 'services' }"
                            [ngxScrollTo]="'#services'">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" [ngClass]="{ active: currentSection === 'features' }"
                            [ngxScrollTo]="'#features'">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="academia" [ngClass]="{ active: currentSection === 'academy' }"
                            [ngxScrollTo]="'#academy'">Academia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                            [ngxScrollTo]="'#inscripcion'">Inscríbete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="certificados"
                            [ngClass]="{ active: currentSection === 'certificados' }"
                            [ngxScrollTo]="'#certificados'">Certificados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" [ngClass]="{ active: currentSection === 'contact' }"
                            [ngxScrollTo]="'#contact'">Contacto</a>
                    </li>
                </ul>
                <div class="">
                    <a href="/auth/signin/cover" target="_blank" class="btn btn-soft-primary"><i
                            class="ri-user-3-line align-bottom me-1"></i> Iniciar sesión</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section job-hero-section bg-light pb-0" id="academy">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div>
                        <h1 class="display-6 fw-semibold mb-3 lh-base">Amplía tu destreza</h1>
                        <p class="lead text-muted lh-base mb-4">Fortalece tus habilidades y destrezas con nuestro
                            respaldo como tu principal aliado estrategico en el desarrollo continuo de la comunidad del
                            sector de la prevencion de riesgos.</p>
                        <a href="/inscripcion" target="_blank" class="btn btn-primary mb-4"><i
                                class="ri-arrow-right-line align-bottom"></i> Inscríbete Ahora</a>

                        <p class="text-muted" style="font-size: small;">Educación informal - No conduce a título o
                            certificado
                            de aptitud
                            ocupacional Decreto 1075
                            de 2015 (artículo 2.6.6.8)</p>
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-4">
                    <div class="position-relative home-img text-center mt-5 mt-lg-0">
                        <img src="assets/images/job-profile3.png" alt="" class="user-img" />

                        <div class="circle-effect">
                            <div class="circle"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="cursos">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-semibold lh-base">Oferta académica</h1>
                        <p class="text-muted">Ofrecemos oportunidades de aprendizaje innovador y confiable, para
                            complementar la formación en seguridad y salud en el trabajo, orientada a profesionales del
                            área técnica de riesgos y empresarios que se adaptan a las necesidades del entorno laboral.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="row" *ngFor="let data of listCursos(); let i = index">
                    <div class="col">
                        <div class="card" style="max-width: 522px; height: 570px;">
                            <!-- [src]="sanitizeAndConvertUrl(data.url)" -->
                            <!-- src="data.url" -->
                            <iframe width="522" height="300" [src]="sanitizeAndConvertUrl(data.url)"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title text-primary">{{ data.nombre }}</h5>
                                <p class="card-text text-muted fs-5" align="justify">{{ data.descripcion }}</p>
                                <div class="text-end">
                                    <a href="/inscripcion" target="_blank" class="btn btn-outline-primary"><i
                                            class="ri-arrow-right-line align-bottom"></i> Inscríbete Ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 px-5">
                <img src="assets/images/educacion-virtual.jpg" alt="" class="user-img rounded shadow-lg" width="100%" />
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 px-5">
                <h1 class="mb-1 ff-secondary fw-semibold lh-base">Educación virtual</h1>
                <h5 class="text-primary">Certificate desde casa</h5>
                <p class="text-muted fs-5" align="justify">Los programas online eliminan la barrera de la dispersión
                    geográfica de los participantes, reduciendo costos asociados con la capacitación presencial. Ofrecen
                    informes detallados, análisis, evaluaciones y certificaciones esenciales para la gestión eficiente
                    de procesos en áreas como SST y Gestión Humana, entre otros.</p>

                <p class="text-muted" style="font-size: small;" align="justify">*Educación informal - No conduce a
                    título o certificado
                    de aptitud
                    ocupacional - Decreto 1075
                    de 2015 (artículo 2.6.6.8)</p>
                <div>
                    <a href="/inscripcion" target="_blank" class="btn btn-sm btn-outline-primary"><i
                            class="ri-arrow-right-line align-bottom"></i> Inscríbete Ahora</a>
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>

<!-- Start footer -->
<footer class="custom-footer bg-light py-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div>
                    <div>
                        <img src="assets/images/logo-abc-dark.png" alt="logo dark" height="70" />
                    </div>
                    <div class="mt-4 fs-13">
                        <p align="justify">Nos especializamos en la consultoría integral en gestión de riesgos
                            laborales; derecho
                            laboral y de la seguridad social, salud y seguridad en el trabajo. Alto compromiso con
                            la
                            excelencia en el servicio, la responsabilidad con el cliente y el trabajo en equipo.</p>
                        <ul class="list-inline mb-0 footer-social-link">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/profile.php?id=100064022221282" target="_blank"
                                    class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/abcrisktraining/" target="_blank"
                                    class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/hsw-risk-consultants-sas-011a091a8/"
                                    target="_blank" class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://wa.me/573054455400" target="_blank" class="avatar-xs d-block">
                                    <div class="avatar-title rounded-circle">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 ms-lg-auto">
                <div class="row">
                    <div class="col-sm-3 mt-4">
                        <h5 class="text-primary mb-0"><i class="fa-duotone fa-user-tie-hair"></i> Empresa</h5>
                        <div class="text-muted mt-3">
                            <ul class="list-unstyled ff-secondary footer-list">
                                <li>
                                    <a routerLink="" [ngClass]="{ active: currentSection === 'features' }"
                                        [ngxScrollTo]="'#features'">Nosotros</a>
                                </li>
                                <li>
                                    <a routerLink="" [ngClass]="{ active: currentSection === 'services' }"
                                        [ngxScrollTo]="'#services'">Servicios</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-4">
                        <h5 class="text-primary mb-0"><i class="fa-duotone fa-screen-users"></i> Academia</h5>
                        <div class="text-muted mt-3">
                            <ul class="list-unstyled ff-secondary footer-list">
                                <li>
                                    <a href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                                        [ngxScrollTo]="'#inscripcion'">Inscríbete</a>
                                </li>
                                <li>
                                    <a href="inscripcion" [ngClass]="{ active: currentSection === 'inscripcion' }"
                                        [ngxScrollTo]="'#inscripcion'">Certificados</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-4">
                        <h5 class="text-primary mb-0"><i class="fa-duotone fa-messages-question"></i> Apoyo</h5>
                        <div class="text-muted mt-3">
                            <ul class="list-unstyled ff-secondary footer-list">
                                <li>
                                    <a routerLink="" [ngClass]="{ active: currentSection === 'contact' }"
                                        [ngxScrollTo]="'#contact'">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-4 text-center">
                        <h5 class="text-primary"><i class="fa-duotone fa-file-certificate"></i> Certificación</h5>
                        <img src="assets/images/certificacion-incontec.png" width="95px" class="p-2">
                        <p class="text-primary text-center" style="font-size: 7pt;">CS-CER1036549</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center text-sm-start align-items-center mt-3">
            <div class="col-sm-6">
                <div>
                    <p class="copy-rights mb-0">
                        {{year}} © SAFETY, HEALTH AND WORK RISK CONSULTANTS S.A.S.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end mt-3 mt-sm-0">
                    <ul class="list-inline mb-0 footer-list gap-4 fs-13">
                        <li class="list-inline-item">
                            <a href="/pages/privacy-policy">Política de privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/pages/terms-condition">Términos y condiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

<!--start back-to-top-->
<button (click)="topFunction()" class="btn btn-primary btn-icon landing-back-top" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>