<form [formGroup]="frmArchivosClientes" class="my-3">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <label>Nombre</label>
            <ng-select [items]="list" bindLabel="textoMostrar" bindValue="value" formControlName="Nombre">
            </ng-select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Archivo</label>
            <input type="file" class="form-control" accept=".pdf" formControlName="Content"
                (change)="onChangeFile($event)">
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div>
            <app-botones [botones]="botones" (eventSave)="save()"></app-botones>
        </div>
    </div>
    <br>
    <br>
    <div class="dt-responsive">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="datatable" class="table table-bordered table-hover table-striped w-100">
                    <thead>
                        <tr>
                            <th class="text-center">NOMBRE</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of listClientesArchivos(); index as i">
                            <td>{{ item.nombre }}</td>
                            <td>
                                <button class="btn btn-sm text-secondary" type="button"
                                    (click)="download(item.content, item.nombre, item.extension)"><i
                                        class="fa-duotone fa-file-arrow-down"></i> Descargar</button>
                                <button class="btn btn-sm text-secondary" type="button"
                                    (click)="openInNewTab(item.content, item.extension)"><i
                                        class="fa-duotone fa-eye"></i>
                                    Ver</button>
                                <button class="btn btn-sm text-secondary" type="button"
                                    (click)="deleteGeneric(item.id)"><i class="fa-duotone fa-trash-can"></i>
                                    Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>