<section class="section bg-light py-5" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h1 class="mb-3 ff-secondary fw-semibold lh-base">Nosotros</h1>
                </div>
            </div>
        </div>
        <div class="row align-items-center gy-4">
            <div class="col-lg-6">
                <div class="text-muted">
                    <h3 class="mb-3 fs-20">Misión</h3>
                    <p align="justify" class="mb-4 ff-secondary fs-18">Brindamos servicios integrales de consultoría en
                        gestión de
                        riesgos laborales, derecho laboral, seguridad y salud en el trabajo, de forma eficiente y con
                        altos estándares de calidad, sostenible y respaldada por un equipo de trabajo
                        multidisciplinario, calificado y competente.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-7 mx-auto">
                <div class="text-center">
                    <svg style="--fa-primary-color: #1a3e60; --fa-secondary-color: #79acda; font-size: 11rem;"
                        class="svg-inline--fa fa-bullseye-arrow" _ngcontent-ng-c3056906379="" aria-hidden="true"
                        focusable="false" data-prefix="fad" data-icon="bullseye-arrow" role="img" data-fa-i2svg=""
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g class="fa-duotone-group">
                            <path class="fa-secondary" fill="currentColor"
                                d="M335.2 244.7c.5 3.7 .8 7.5 .8 11.3c0 44.2-35.8 80-80 80s-80-35.8-80-80s35.8-80 80-80c3.8 0 7.6 .3 11.3 .8l31.2-31.2L293.7 117c-12-3.3-24.7-5-37.7-5c-79.5 0-144 64.5-144 144s64.5 144 144 144s144-64.5 144-144c0-13.1-1.7-25.7-5-37.7l-28.6-4.8-31.2 31.2zm110.1-20.8c1.8 10.4 2.7 21.1 2.7 32.1c0 106-86 192-192 192S64 362 64 256S150 64 256 64c10.9 0 21.6 .9 32.1 2.7l9.3-9.3 43.1-43.1C314 5 285.6 0 256 0C114.6 0 0 114.6 0 256S114.6 512 256 512s256-114.6 256-256c0-29.6-5-58-14.3-84.5l-43.1 43.1-9.3 9.3z">
                            </path>
                            <path class="fa-primary" fill="currentColor"
                                d="M331.2 146.9l-8.4-50.7c-1.7-10.2 1.6-20.6 8.9-27.9l51.2-51.2C391 9 404.7 11.9 409 22.5L432 80l57.5 23c10.7 4.3 13.5 18 5.4 26.2l-51.2 51.2c-7.3 7.3-17.7 10.6-27.9 8.9l-50.7-8.4L273 273c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l92.1-92.1z">
                            </path>
                        </g>
                    </svg>
                    <!-- <img src="assets/images/landing/features/mision.jpg" alt="" class="img-fluid mx-auto rounded shadow-lg"> -->
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row align-items-center gy-4">
            <div class="col-lg-6 col-sm-7 mx-auto">
                <div class="text-center">
                    <svg style="--fa-primary-color: #1a3e60; --fa-secondary-color: #79acda; font-size: 11rem;"
                        _ngcontent-ng-c234946215="" class="svg-inline--fa fa-eye" aria-hidden="true" focusable="false"
                        data-prefix="fad" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512" data-fa-i2svg="">
                        <g class="fa-duotone-group">
                            <path class="fa-secondary" fill="currentColor"
                                d="M95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 400a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                            </path>
                            <path class="fa-primary" fill="currentColor"
                                d="M224 256c35.3 0 64-28.7 64-64c0-7.1-1.2-13.9-3.3-20.3c-1.8-5.5 1.6-11.9 7.4-11.7c40.8 1.7 77.5 29.6 88.6 71.1c13.7 51.2-16.7 103.9-67.9 117.6s-103.9-16.7-117.6-67.9c-1.9-6.9-2.9-13.9-3.2-20.7c-.3-5.8 6.1-9.2 11.7-7.4c6.4 2.1 13.2 3.3 20.3 3.3z">
                            </path>
                        </g>
                    </svg>
                    <!-- <img src="assets/images/landing/features/vision.jpg" alt="" class="img-fluid mx-auto rounded shadow-lg"> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-muted">
                    <h3 class="mb-3 fs-20">Visión</h3>
                    <p align="justify" class="mb-4 ff-secondary fs-18">Ser una empresa nacionalmente reconocida y
                        sostenible por la calidad en la prestación de servicios de consultoría en gestión integral de
                        riesgos, prevención y promoción en seguridad y salud en el trabajo; generando alto valor y
                        fidelización de nuestras empresas clientes y conciencia de autocuidado en sus trabajadores.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>