<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="card card-height-100">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">{{ title }}</h4>
        <div class="flex-shrink-0">
            <app-botones [botones]="botones" (eventSave)="save()"></app-botones>
        </div>
    </div>
    <div class="card-body" style="padding: 40px;">
        <form [formGroup]="frmConfiguracion" class="mb-4">
            <div ngbAccordion [closeOthers]="true">
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton><i class="fa-duotone fa-print"
                                style="--fa-primary-color: #adb5bd; --fa-secondary-color: #adb5bd;"></i>&nbsp;
                            Certificado</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <div class="row">
                                <div class="cols-sm-3 col-md-3 col-lg-3">
                                    <label>Licencia:</label><br>
                                    <input type="text" class="form-control" formControlName="Licencia">
                                    <app-forms-messages [error]="frmConfiguracion.get('Licencia')"
                                        [statusForm]="statusForm"></app-forms-messages>
                                </div>
                                <div class="cols-sm-3 col-md-3 col-lg-3">
                                    <label>Aprobación Ministerio de Trabjo:</label><br>
                                    <input type="text" class="form-control" formControlName="Aprobacion">
                                    <app-forms-messages [error]="frmConfiguracion.get('Aprobacion')"
                                        [statusForm]="statusForm"></app-forms-messages>
                                </div>
                                <div class="cols-sm-3 col-md-3 col-lg-3">
                                    <label>Certificación NTC:</label><br>
                                    <input type="text" class="form-control" formControlName="Certificacion">
                                    <app-forms-messages [error]="frmConfiguracion.get('Certificacion')"
                                        [statusForm]="statusForm"></app-forms-messages>
                                </div>
                                <div class="cols-sm-3 col-md-3 col-lg-3">
                                    <label>Código de acreditación:</label><br>
                                    <input type="text" class="form-control" formControlName="Acreditacion">
                                    <app-forms-messages [error]="frmConfiguracion.get('Acreditacion')"
                                        [statusForm]="statusForm"></app-forms-messages>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Imagen de fondo</label><br />
                                    <img [src]="img" width="100%" height="340" class="border rounded" />
                                    <br />
                                    <br />
                                    <input type="file" class="form-control" (change)="fileEvent($event)" />
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label>Firma Representante Legal</label>&nbsp;<span
                                        class="badge bg-success">.png</span><br />
                                    <p class="text-muted">La imagen debe estar en formato .png y sin fondo</p>
                                    <img [src]="imgRepresentante" width="100%" class="border rounded" />
                                    <br />
                                    <br />
                                    <input type="file" class="form-control" (change)="fileEventRepresentante($event)"
                                        accept=".png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem>
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton><i class="fa-duotone fa-lock"
                                style="--fa-primary-color: #adb5bd; --fa-secondary-color: #adb5bd;"></i>&nbsp;
                            Seguridad</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <div class="row">
                                <div class="cols-sm-2 col-md-2 col-lg-2">
                                    <label>Maneja Clave Supervisor:</label><br>
                                    <ui-switch formControlName="ManejaClaveSupervisor"></ui-switch>
                                    <app-forms-messages [error]="frmConfiguracion.get('ManejaClaveSupervisor')"
                                        [statusForm]="statusForm" [statusForm]="statusForm"></app-forms-messages>
                                </div>
                                <div class="cols-sm-2 col-md-2 col-lg-2">
                                    <label>Clave Supervisor:</label>
                                    <input type="number" class="form-control form-control-sm"
                                        formControlName="ClaveSupervisor" />
                                    <app-forms-messages [error]="frmConfiguracion.get('ClaveSupervisor')"
                                        [statusForm]="statusForm" [statusForm]="statusForm"></app-forms-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>